<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="navbar-brand" src="{{ asset('bundles/app/images/logo.png')}}" style="width: 3%; "/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse justify-content-end" id="navbarTogglerDemo02">
        <ul class="navbar-nav">
            <li class="nav-item  active">
                <a class="nav-link" href="{{ path('home')}}" id="aAcc" style="color: #ffbf00;">Home<span class="sr-only">(current)</span></a>
            </li>
            {% if app.user %}
                <li class="nav-item  active">
                    <a class="nav-link" href="{{ path('viewGame')}}" id="aAcc" style="color: #ffbf00;">New game<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item  active">
                    <a class="nav-link" href="{{ path('logout')}}" id="aAcc" style="color: #ffbf00;">Logout<span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="nav-item  active">
                    <a class="nav-link" href="{{ path('login')}}" id="aAcc" style="color: #ffbf00;">Login<span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            <li class="nav-item  active">
                <a class="nav-link" href="{{ path('register')}}" id="aReg" style="color: #ffbf00;">Register</a>
            </li>

        </ul>
    </div>
</nav>
<div style="margin-top:60px"></div>


