{% extends '@App/P4/index.html.twig' %}
{% block title %}
    {{ parent() }} - P4
{% endblock %}

{% block App_body %}
    <div style="margin-top:60px"></div>
    <div style="text-align: center;">
        <img src="../image/pokefour.png" alt="Main_picture" />
        <div class="container" style="text-align: center;">
            <h2> Welcome in the P4 world</h2>
            <div style="margin-top:60px"></div>

            <h1>Sign in</h1>
            <div style="margin-top:30px"></div>
            <div class="row justify-content-center">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.pseudo, {'attr': {'class': 'form-control-sm'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.password, {'attr': {'class': 'form-control-sm'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
            <a class="nav-link" href="{{ path('register')}}" id="aReg">New account ? Register in</a>

        </div>
    </div>

{% endblock %}
